body {
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #747d8c;
    width: 99%;
    height: 100vh;
}

table {
    border: 1px solid #34495e;
    border-radius: 12px;
    margin: 20px;
    padding: 5px;
    width: 90%;
}

tr {
    color: #f1c40f;
    text-align: center;
}

td {
    border:  1px solid #34495e;
    border-radius: 12px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-family: system-ui;
}

input {
    border: 2px solid #34495e;
    border-radius: 12px;
    padding: 10px 15px;
    outline: none;
    width: 50%;
    margin: 10px;
}

input:focus {
    border-color: #f1c40f;
}

button {
    border: 2px solid #34495e;
    color: #34495e;
    border-radius: 12px;
    cursor: pointer;
    padding: 6px 15px;
    font-size: 20px;
    transition: 0.4s;
    /* animation-name: changeColore;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s; 
    animation-iteration-count: infinite; */
}

button:hover {
    background-color: #f1c40f;
    color: #8e44ad;
    /* animation-name: changeColore;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s; 
    animation-iteration-count: infinite; */
}
/* @keyframes changeColore {
    0%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(20px);
    }
    60%{
        transform: translateX(40px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
} */
